	[submodule "cafe-headless-wp"]

	path = cafe-headless-wp
	url = git@github.com:keyvanmirani/cafe-headless-wp.git

[submodule "cafe-admin"]

	path = cafe-admin
	url = git@github.com:keyvanmirani/cafe-admin-front.git

[submodule "cafe-public"]

	path = cafe-public
	url = git@github.com:keyvanmirani/cafe-farda-v4-front.git
